body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-body1 {
  font-family: "PT Sans", sans-serif !important;
}

.MuiTypography-body2 {
  font-family: "PT Sans", sans-serif !important;
}

.MuiTypography-h5 {
  font-family: "PT Sans", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.width-100-percent {
  width: 100%;
}